<!-- Place details page -->

<h1><%= @place["name"]%></h1>

<h2>Posts</h2>

<p>
Mexico City is great!
</p>

<ul>
  <% for post in @posts%>
  <li> <%= post["title"]%>  <%= post["date"]%> <%= post["description"]%></li>
  
  <% end %>
  
</ul>

<p>
  <a href="/entries/new?company_id=10">New Post</a>
</p>

<p>
  <a href="/places">Back to all places</a>
</p>
