<!-- Place details page -->

<h1><%= @place["name"]%></h1>

<h2>Posts</h2>

<p>
Mexico City is great!
</p>

<% for post in @posts %>
    <h2><%= post["title"] %></h2>
    <h4><%= post["occurred_on"] %></h4>
    <p> <%= post["description"] %> </p>
  <% end %>



<p>
  <a href="/entries/new?company_id=1">New Post</a>
</p>

<p>
  <a href="/places">Back to all places</a>
</p>
